* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hide{
    display:none;
}
.flex{
    display: flex;
}
body{
    background: black;
}
.encabezado{
    display: flex;
    align-items: center;
    width: 400px;
    height: 180px;
}
.letra{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0 0 10px rgb(185, 15, 15); 
    color: #2B4D86;
    font-weight: 1000;
}


.contenedor__root {
    text-align: center;
    flex-wrap: wrap;
    background-image: url(/imagenes/cuerpoCampeones.png);
    background-size: cover;
    margin: 185px;
}
.imagen-root{
   width: 65px;
   height: 65px;
}
.cont-personajes {
    width: 240px;
    background-color: #ffffff;
    margin: 4px;
    padding: 13px;
    vertical-align: top;
    height: 300px;
    width: 163px;
    height: 110px;
    width: 95px;
    background-color: #ffffff;
    font-size: 16px;
    display: inline-block;
    padding: 11px;
    vertical-align: top;
    text-align: center;
}

/* 
-----------------------------------------------------------------------------------
MODAL 
------------------------------------------------------------------------------------ 
*/
.modal {
    /* background: black; */
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #525E62;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(36, 39, 24, 0.6);
}
.lol__container {
	width: 21rem;
	height: 39rem;
	background-image: url(../imagenes/fondomodal.png);
	background-size: 100% 100%;
	margin: 1rem auto;
	padding-top: 1rem;
	border-radius: 0.5rem;
} 
.lol__picture {
	width: 14rem;
	height: 11.5rem;
	margin: 0 auto;	
}
.lol__mp {
	text-align: center;
	color: white;
}
.lol__exp-bar {
    width: 17rem;
    height: 17rem;
    margin-left: -1.6rem;
    margin-top: -10.7rem;
    border-style: solid;
    border-color: white rgba(255, 255, 255, 0.15) transparent white;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.lol__info {
	width: 20rem;
	background: white;
	margin: 0 auto;
	border-radius: 0.5rem;
	padding: 1.5rem 0 1rem 0;
}
.lol__png {
    margin-top: -1rem;
    width: 100%;
}
span {
	font-size: 1.5rem;
}
.lol__name{
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
}
.lol__name::before{
	content: "";
	width: 12rem;
	height: 0.5rem;
	border-radius: 0.5rem;
	background: #6FEDB8;
	margin-top: 2.2rem;
	margin-left: -2.3rem;
	position: absolute;

}
.size-medium {
	font-size: 0.8rem;
	color: #3F4240;
}

.lol__data {
	width: 20rem;
	height: 2rem;
	display: flex;
	justify-content: center;
    margin-bottom: 0.8rem;
    margin-top: 1.8rem;
}

.info__tags, .info__defense, .info__magic {
	width: 5.1rem;
	text-align: center;
	font-size: 0.9rem;
	border-right: solid 0.1rem rgba(0, 0, 0, 0.16);
}
.info__tags {
	width: 6.8rem;
}

.info__magic {
	border-right: none;
}

.lol___status {
	width: 18rem;
	height: 4rem;
	display: flex;
	border-top: solid 0.1rem rgba(0, 0, 0, 0.16);
	padding-top: 0.8rem;
	margin: 0 auto 0 auto;
}

.text--small {
	margin-top: 0rem;
	font-size: 0.7rem;
	color: #3F4240;
}

.status__stardust, .status__candy {
	width: 9rem;
	text-align: center;
}
.status__lol {
	width: 10rem;
}

.status__stardust::before, .powerup__stardust::before{
	content: "";
	width: 0.25rem;
	height: 0.7rem;
	background: #E300FA;
	position: absolute;
	margin-left: -0.6rem;
	border: solid #393939;
	border-width: 0.4rem 0.1rem 0.2rem 0.1rem;
}

.status__candy::before, .powerup__candy::before{
	content: "";
	width: 1.2rem;
	height: 1.2rem;
	background: orange;
	border-radius: 50%;
	position: absolute;
	margin-left: -1.4rem;
	margin-top: 0.18rem;
}

.lol__powerup {
	width: 18rem;
	margin: 0 auto;
	text-align: center;
	display: flex;
	background: #E8F0E1;
	border-radius: 2rem 0.3rem 0.3rem 2rem;
}

.nomtop {
	margin-top: 0.2rem;
	font-size: 0.7rem;
	color: #3F4240;	
}

.powerup__text {
	width: 8rem;
	height: 2rem;
	padding-top: 0.5rem;
	background: #64D39F;
	border-radius: 2rem;
	margin-right: 2rem;
	color: white;
}

.powerup__stardust, .powerup__candy {
	width: 3.5rem;
	padding-top: 0.6rem;
	font-size: 0.9rem;
}

.powerup__candy::before {
	width: 1rem;
	height: 1rem;
}

.powerup__stardust::before {
	height: 0.6rem;
}

.lol__move{
	width: 17rem;
	margin: 0 auto 0 auto;
	
	display: flex;
	justify-content: space-between;
}
.move__special::before {
	content: '';
	width: 6rem;
	height: 0.5rem;
	position: absolute;
	background: #66B8FA;
	margin-top: 0.37rem;
	margin-left: 7rem;
	border: solid 0.12rem #B8C9FF;
	border-radius: 0.4rem;
}

.move--mtop {
	margin-top: 0;
	color: #B2B6B4;
	margin-bottom: 0.5rem;
}

.space{
	margin-top: 1.2rem;
	padding-top: 1.2rem;
	border-top: solid 0.1rem rgba(0, 0, 0, 0.16);
}

.descripcion__lol {
    color: navajowhite;
    font-size: 96%;
}
.titulo__lol {
    color: peru;
    font-size: x-large;
    width: 100%;
}
.info__modal {
    height: 80%;
    width: 100%;
    flex-direction: column;
}
.modal__content {
    background-color: black;
    width: 21rem;
    height: 39rem;
    background-image: url(../imagenes/fondomodal.png);
    background-size: 100% 100%;
    padding-top: 1rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


